<form action="/checkout" method="post">
  <label>Type data here: </label>
  <input type="text" name="item[type1]">
  <label>Type another data here: </label>
  <input type="text" name="item[type2]">
  <input type="submit" value="Submit">
</form>
